### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import ast

### Loading the dataset

In [3]:
# Loading csv and setting to 
user_df = pd.read_csv('../SavedData/Lloyds_users.csv')

# Changing the lists back to normal columns
user_df['user_biz_interaction'] = user_df['user_biz_interaction'].apply(ast.literal_eval)
user_df['user_biz_interaction_frequency'] = user_df['user_biz_interaction_frequency'].apply(ast.literal_eval)
user_df['user_user_interaction'] = user_df['user_user_interaction'].apply(ast.literal_eval)
user_df['user_user_interaction_frequency'] = user_df['user_user_interaction_frequency'].apply(ast.literal_eval)
user_df['user_industry_interaction'] = user_df['user_industry_interaction'].apply(ast.literal_eval)
user_df['user_industry_interaction_frequency'] = user_df['user_industry_interaction_frequency'].apply(ast.literal_eval)
user_df['user_date_transaction'] = user_df['user_date_transaction'].apply(ast.literal_eval)
user_df['user_date_transaction_freq'] = user_df['user_date_transaction_freq'].apply(ast.literal_eval)

In [6]:
user_df

,user_id,total_tx_count,net_tx_count,total_tx_sum_gbp,net_tx_sum_gbp,sent_tx_count,sent_tx_sum_gbp,sent_tx_mean_gbp,sent_tx_median_gbp,received_tx_count,...,received_tx_mean_gbp,received_tx_median_gbp,user_biz_interaction,user_biz_interaction_frequency,user_user_interaction,user_user_interaction_frequency,user_industry_interaction,user_industry_interaction_frequency,user_date_transaction,user_date_transaction_freq
0,1000,1903,1517,37720.11,19676.91,1710,28698.51,7.854277,4.50,193,...,46.744041,5.5,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[116, 117, 2, 72, 5, 9, 19, 1, 35, 119, 1, 2, ...","[16354, 18013, 30208, 31489, 36647, 38289, 411...","[55, 14, 6, 12, 1, 14, 5, 14, 1, 18, 21, 1, 27...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[2, 1, 1, 813, 2, 3, 37, 1, 7, 2, 30, 21, 353,...","[01/01/2025, 01/02/2025, 01/03/2025, 01/04/202...","[5, 5, 13, 6, 2, 9, 5, 8, 6, 5, 5, 7, 4, 7, 2,..."
1,10000,1114,720,21360.39,18944.39,917,20152.39,21.372710,11.00,197,...,6.131980,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[6, 1, 16, 71, 59, 3, 9, 7, 33, 2, 22, 7, 9, 2...","[15896, 28620, 33124, 33732, 34123, 5277, 5439...","[39, 49, 1, 19, 10, 9, 59, 17, 29, 22, 19, 13]","[Alcohol, Apparel, Books, Cafes, Coffee Beans ...","[1, 23, 34, 23, 1, 51, 2, 1, 14, 312, 119, 3, ...","[01/02/2025, 01/03/2025, 01/04/2025, 01/06/202...","[3, 4, 1, 8, 3, 3, 2, 3, 2, 6, 3, 7, 1, 9, 7, ..."
2,100000,1919,1433,23455.27,20720.37,1676,22087.82,11.567202,4.50,243,...,5.627366,6.0,"[ACCESSORY_SHOP, A_CAFE, A_LOCAL_COFFEE_SHOP, ...","[5, 106, 129, 16, 95, 5, 11, 1, 122, 20, 1, 5,...","[12753, 24398, 24951, 28719, 34678, 39736, 489...","[19, 14, 24, 54, 17, 21, 6, 19, 9, 30, 27, 30,...","[Accessories, Alcohol, Apparel, Cafes, Coffee ...","[15, 6, 1, 828, 10, 58, 5, 2, 18, 1, 334, 65, ...","[01/01/2025, 01/02/2025, 01/03/2025, 01/04/202...","[3, 3, 10, 2, 3, 12, 5, 6, 3, 3, 3, 3, 4, 6, 1..."
3,100002,1561,1233,22393.96,20303.16,1397,21348.56,13.390346,4.50,164,...,6.374390,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[50, 59, 18, 155, 1, 48, 1, 4, 26, 9, 14, 58, ...","[10432, 14001, 3296, 37438, 37918, 46953, 5047...","[8, 1, 5, 1, 6, 10, 11, 7, 27, 2, 2, 1, 17, 4,...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[7, 32, 2, 281, 2, 3, 33, 4, 2, 10, 269, 511, ...","[01/01/2025, 01/02/2025, 01/03/2025, 01/04/202...","[3, 7, 6, 2, 5, 14, 2, 14, 3, 2, 5, 4, 2, 4, 4..."
4,100019,1157,719,44632.75,16232.85,938,30432.80,20.213062,9.00,219,...,64.839954,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[50, 54, 15, 91, 1, 1, 2, 11, 1, 9, 7, 68, 9, ...","[22634, 38580, 40565, 44911, 61350, 62299, 626...","[21, 33, 18, 4, 24, 11, 28, 25, 27, 58]","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[1, 25, 1, 214, 4, 1, 38, 1, 12, 13, 314, 1, 6...","[01/02/2025, 01/03/2025, 01/06/2025, 01/07/202...","[6, 8, 3, 1, 4, 2, 2, 9, 1, 5, 3, 3, 2, 5, 3, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8137,99939,1488,1078,20117.08,17723.34,1283,18920.21,14.180119,9.00,205,...,5.838390,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[56, 56, 13, 80, 57, 8, 3, 8, 2, 2, 44, 51, 23...","[15880, 24365, 24475, 2858, 33124, 4741, 53764...","[6, 34, 17, 50, 1, 25, 31, 21, 22, 27, 13, 51,...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[2, 2, 38, 227, 25, 7, 46, 3, 2, 2, 37, 25, 34...","[01/01/2025, 01/02/2025, 01/03/2025, 01/05/202...","[2, 13, 4, 2, 7, 2, 13, 3, 3, 2, 1, 4, 2, 1, 6..."
8138,99949,1188,818,15007.49,12916.23,1003,13961.86,11.999075,6.00,185,...,5.652054,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[61, 48, 4, 72, 7, 4, 1, 5, 2, 2, 36, 50, 9, 1...","[1697, 32368, 33124, 39937, 52658, 53534, 6314...","[22, 21, 2, 11, 52, 14, 8, 27, 19, 16, 64, 42,...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[3, 3, 2, 215, 1, 4, 22, 1, 3, 25, 1, 368, 23,...","[01/02/2025, 01/03/2025, 01/04/2025, 01/05/202...","[2, 11, 1, 2, 8, 2, 7, 1, 3, 1, 2, 14, 7, 1, 1..."
8139,99952,1501,1073,47107.19,21523.19,1287,34315.19,18.759158,9.00,214,...,59.775701,5.5,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[49, 41, 14, 99, 13, 4, 4, 13, 1, 40, 53, 15, ...","[16004, 23861, 25637, 30279, 44652, 51998, 555...","[4, 12, 10, 30, 15, 22, 97, 18, 28, 23, 52, 92...","[Alcohol, Books, Cafes, Children, Coffee Beans...","[4, 84, 198, 20, 5, 42, 2, 3, 2, 32, 1, 386, 1...","[01/01/2025, 01/02/2025, 01/03/2025, 01/05/202...","[3, 5, 2, 3, 7, 1, 3, 2, 5, 1, 3, 1, 5, 5, 4, ..."
8140,99988,1450,1068,37715.77,23073.99,1259,30394.88,12.702998,8.99,191,...,38.329267,5.5,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[58, 61, 11, 106, 1, 57, 9, 1, 6, 22, 8, 62, 1...","[100305, 10944, 11417, 26078, 33317, 35599, 37...","[38, 17, 43, 23, 14, 21, 10, 12, 15, 10, 42, 4...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[3, 2, 2, 252, 1, 6, 33, 8, 1, 29, 2, 343, 116...","[01/01/2025, 01/02/2025, 01/03/2025, 01/04/202...","[2, 5, 3, 3, 4, 14, 3, 9, 1, 3, 6, 4, 3, 3, 1,..."
8141,99998,1204,942,25508.78,23915.48,1073,24712.13,24.510337,9.50,131,...,6.081298,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[38, 53, 15, 109, 13, 9, 3, 6, 7, 16, 2, 54, 2...","[11261, 13903, 17765, 17966, 30727, 4127, 4655...","[23, 11, 6, 39, 16, 31, 20, 17, 7, 13, 18, 4, ...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[2, 34, 40, 187, 22, 4, 40, 5, 2, 52, 12, 308,...","[01/02/2025, 01/03/2025, 01/04/2025, 01/05/202...","[5, 11, 1, 1, 1, 2, 5, 2, 1, 10, 2, 5, 2, 1, 7..."