In [1]:
import pandas as pd

In [93]:
biz_df = pd.read_csv('C:/Users/Diya/OneDrive/Desktop/Mini Project/Part-2/Dataset/dataset2_cleaned.csv')

In [94]:
len(biz_df)

229194

In [95]:
# To create individual dataframes for each business and store them in a dictionary:
business_dict = {name: biz_df[biz_df['Third Party Name'] == name] for name in biz_df['Third Party Name'].unique()}

# Let's print out the names of the businesses to confirm creation of the dictionary
list(business_dict.keys())[:10]  # Display only the first 10 for brevity

['Westport Care Home',
 'Barbiee Boutique',
 nan,
 'Fat Face',
 'Lavender Primary',
 'A Cut Above',
 'Tesco',
 'Brilliant Brushes',
 'Costa Coffee',
 'Premier Finance']

In [96]:
from sklearn.ensemble import IsolationForest

# Select numerical columns for anomaly detection
numerical_data = biz_df[['Balance', 'Amount']]

# Initialize the isolation forest model
iforest = IsolationForest(n_estimators=100, contamination=0.05) 
iforest.fit(numerical_data)

# Predicting anomalies (outliers)
anomalies = iforest.predict(numerical_data)
anomaly_indices = anomalies == -1 

# Add a column for anomalies to the original dataset
biz_df['Anomaly'] = anomaly_indices

# Count anomalies and display some of them
anomaly_count = anomaly_indices.sum()
anomaly_examples = biz_df[biz_df['Anomaly']].head()

C:\Users\Diya\New folder\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

In [97]:
len(biz_df[biz_df['Anomaly'] == True])

11460

In [98]:
len(biz_df)

229194

In [99]:
from sklearn.model_selection import train_test_split

train_data, test_data = train_test_split(biz_df, test_size=0.2, random_state=12)

# Show the number of entries in each set
train_data_size = len(train_data)
test_data_size = len(test_data)

train_data_size, test_data_size

(183355, 45839)

In [100]:
test_data.head()

,Date,Timestamp,Account No,Balance,Amount,Third Party Account No,Third Party Name,Datetime,Anomaly
50365,14/03/2023,18:33:00,712474734.0,-1324.548831,-31.23,NaN,Deliveroo,2023-03-14 18:33:00,False
50317,14/03/2023,17:28:00,419550103.0,6544.593463,-125.30,NaN,Loosely Fitted,2023-03-14 17:28:00,False
156768,31/08/2023,23:59:00,834581602.0,925.931550,-7.00,NaN,Xbox,2023-08-31 23:59:00,False
198076,31/10/2023,09:27:00,250957494.0,1090.427100,-37.99,NaN,Sports Direct,2023-10-31 09:27:00,False
46751,05/03/2023,16:34:00,675231808.0,4038.532728,-158.90,NaN,Selfridges,2023-03-05 16:34:00,False

In [101]:
test_anomalies_count = test_data['Anomaly'].sum()
test_anomalies_count

2316

In [109]:
# Replacing False with 0 and True with 1
test_data['Anomaly'] = test_data['Anomaly'].replace({False: 0, True: 1})

test_data.head(50)

,Date,Timestamp,Account No,Balance,Amount,Third Party Account No,Third Party Name,Datetime,Anomaly
50365,14/03/2023,18:33:00,712474734.0,-1324.548831,-31.23,NaN,Deliveroo,2023-03-14 18:33:00,0
50317,14/03/2023,17:28:00,419550103.0,6544.593463,-125.30,NaN,Loosely Fitted,2023-03-14 17:28:00,0
156768,31/08/2023,23:59:00,834581602.0,925.931550,-7.00,NaN,Xbox,2023-08-31 23:59:00,0
198076,31/10/2023,09:27:00,250957494.0,1090.427100,-37.99,NaN,Sports Direct,2023-10-31 09:27:00,0
46751,05/03/2023,16:34:00,675231808.0,4038.532728,-158.90,NaN,Selfridges,2023-03-05 16:34:00,0
183640,05/10/2023,05:49:00,421881811.0,3485.167641,-15.74,NaN,Etsy,2023-10-05 05:49:00,0
206839,06/11/2023,09:49:00,358836279.0,315.895443,-109.47,NaN,Tesco,2023-11-06 09:49:00,0
141449,06/08/2023,03:33:00,496395938.0,11089.827658,-88.40,NaN,Loosely Fitted,2023-08-06 03:33:00,0
218195,27/11/2023,15:15:00,520447032.0,7556.031263,-46.10,NaN,Sainsbury,2023-11-27 15:15:00,0
128615,22/07/2023,11:02:00,147474476.0,3781.733037,-105.73,NaN,Revella,2023-07-22 11:02:00,0
77186,30/04/2023,23:59:00,848118081.0,-1543.842798,-100.00,NaN,Grand Union BJJ,2023-04-30 23:59:00,0
11854,13/01/2023,09:29:00,258201793.0,1064.428050,-109.97,NaN,Gamestation,2023-01-13 09:29:00,0
37600,26/02/2023,12:03:00,395284483.0,401.764101,-55.12,NaN,Topshop,2023-02-26 12:03:00,0
178935,30/09/2023,23:59:00,420109571.0,797.086769,-15.99,NaN,Netflix,2023-09-30 23:59:00,0
153927,31/08/2023,00:00:00,287230540.0,2646.892771,2292.00,NaN,Vision Express,2023-08-31 00:00:00,1
2915,01/01/2023,00:00:00,406772240.0,852.010000,-18.99,NaN,PureGym,2023-01-01 00:00:00,0
155940,31/08/2023,23:59:00,868014990.0,-2873.778600,-7.99,NaN,Disney,2023-08-31 23:59:00,0
96645,31/05/2023,23:59:00,899692478.0,-67.562194,-18.99,NaN,PureGym,2023-05-31 23:59:00,0
217580,26/11/2023,11:24:00,690523499.0,54.941100,-55.82,NaN,Tesco,2023-11-26 11:24:00,0
213511,18/11/2023,14:33:00,461990622.0,7706.059671,-271.60,NaN,Topshop,2023-11-18 14:33:00,0
45654,03/03/2023,17:34:00,361955473.0,669.620395,-57.00,NaN,Sports Direct,2023-03-03 17:34:00,0
20053,30/01/2023,18:24:00,633345190.0,1170.900580,-18.97,NaN,Hobbycraft,2023-01-30 18:24:00,0
46540,05/03/2023,12:42:00,540159353.0,5567.435219,-136.47,NaN,Matalan,2023-03-05 12:42:00,0
19873,30/01/2023,13:06:00,901432314.0,1784.847200,-44.66,NaN,Tesco,2023-01-30 13:06:00,0
56709,31/03/2023,09:35:00,175452235.0,789.090250,-39.98,NaN,Reebok,2023-03-31 09:35:00,0
51748,18/03/2023,14:05:00,152616936.0,180.154058,-103.98,NaN,Fat Face,2023-03-18 14:05:00,0
41805,28/02/2023,23:59:00,456246119.0,7115.240407,-7.99,NaN,Amazon,2023-02-28 23:59:00,0
53725,24/03/2023,09:19:00,214339619.0,778.440940,-5.65,NaN,Starbucks,2023-03-24 09:19:00,0
41887,28/02/2023,23:59:00,191992682.0,-14.585460,-15.99,NaN,Netflix,2023-02-28 23:59:00,0
147563,18/08/2023,07:11:00,776108637.0,888.559265,-6.80,NaN,Starbucks,2023-08-18 07:11:00,0
18123,26/01/2023,12:39:00,970298834.0,845.943223,-55.99,NaN,Loosely Fitted,2023-01-26 12:39:00,0
4332,01/01/2023,00:00:00,491392945.0,-533.990000,-7.99,NaN,Disney,2023-01-01 00:00:00,0
213429,18/11/2023,12:26:00,518474507.0,14140.108592,-38.19,NaN,JustEat,2023-11-18 12:26:00,0
201897,31/10/2023,23:59:00,683078800.0,2421.889453,-7.99,NaN,Disney,2023-10-31 23:59:00,0
202067,31/10/2023,23:59:00,398429109.0,1519.848550,-7.00,NaN,Xbox,2023-10-31 23:59:00,0
152531,28/08/2023,13:14:00,256002321.0,6300.840201,-18.40,NaN,JustEat,2023-08-28 13:14:00,0
179541,30/09/2023,23:59:00,657139925.0,13879.445839,-12.99,NaN,SquareOnix,2023-09-30 23:59:00,0
161737,04/09/2023,03:44:00,221868392.0,5431.998744,-6.96,NaN,Tesco,2023-09-04 03:44:00,0
186222,09/10/2023,15:47:00,120634201.0,4638.889500,-15.01,NaN,Stitch By Stitch,2023-10-09 15:47:00,0
87953,18/05/2023,20:06:00,851181128.0,5278.109229,-43.31,NaN,Coop Local,2023-05-18 20:06:00,0
15984,21/01/2023,13:29:00,497772347.0,320.654850,-207.02,NaN,Tesco,2023-01-21 13:29:00,0
6680,03/01/2023,11:55:00,697140785.0,1192.570000,-139.00,NaN,Fat Face,2023-01-03 11:55:00,0
168589,17/09/2023,05:57:00,899742927.0,12243.837467,-47.12,NaN,AMAZON,2023-09-17 05:57:00,0
46405,05/03/2023,10:57:00,279149837.0,1637.510100,-22.97,NaN,The Works,2023-03-05 10:57:00,0
7614,05/01/2023,09:55:00,929044080.0,1061.141400,-69.98,NaN,Gamestation,2023-01-05 09:55:00,0
10072,09/01/2023,17:06:00,925037906.0,1168.255200,-49.00,NaN,Fat Face,2023-01-09 17:06:00,0
200963,31/10/2023,23:59:00,698955014.0,1373.573180,-14.99,NaN,Blizzard,2023-10-31 23:59:00,0
216777,25/11/2023,04:19:00,910730524.0,7721.016097,-2.55,NaN,Revella,2023-11-25 04:19:00,0
75970,01/05/2023,00:00:00,524425303.0,459.831200,-917.00,NaN,LBG,2023-05-01 00:00:00,0
177686,30/09/2023,23:59:00,630468201.0,-508.579234,-18.99,NaN,PureGym,2023-09-30 23:59:00,0

In [110]:
test_data.to_csv('C:/Users/Diya/OneDrive/Desktop/Mini Project/Part-2/Dataset/df_iso_forest.csv', index = False)

In [114]:
df = test_data[test_data['Amount'] <= 0]

In [115]:
test_anomalies_count = df['Anomaly'].sum()
test_anomalies_count

1286

In [118]:
df[df['Anomaly'] == 1].head(50)

,Date,Timestamp,Account No,Balance,Amount,Third Party Account No,Third Party Name,Datetime,Anomaly
211122,14/11/2023,06:30:00,558119802.0,34312.712973,-56.02,NaN,Matalan,2023-11-14 06:30:00,1
199128,01/11/2023,00:00:00,846550094.0,1974.794772,-1170.00,NaN,Halifax,2023-11-01 00:00:00,1
208291,09/11/2023,05:03:00,554792076.0,29775.707545,-41.06,NaN,Revella,2023-11-09 05:03:00,1
155671,01/09/2023,00:00:00,146686559.0,-331.699811,-1301.00,NaN,Halifax,2023-09-01 00:00:00,1
217928,27/11/2023,05:51:00,383833857.0,25727.856789,-29.69,NaN,Tesco,2023-11-27 05:51:00,1
188441,14/10/2023,05:32:00,558119802.0,31529.309134,-26.48,NaN,JustEat,2023-10-14 05:32:00,1
799,01/01/2023,00:00:00,955035930.0,-247.000000,-1347.00,NaN,LBG,2023-01-01 00:00:00,1
155532,01/09/2023,00:00:00,503575533.0,7828.560100,-965.00,NaN,LBG,2023-09-01 00:00:00,1
205957,05/11/2023,03:02:00,386729293.0,34204.111672,-14.03,NaN,Revella,2023-11-05 03:02:00,1
207582,07/11/2023,17:50:00,419550103.0,19447.397141,-114.08,NaN,Sports Direct,2023-11-07 17:50:00,1
207116,06/11/2023,20:06:00,764450279.0,22443.126819,-37.34,NaN,Tesco,2023-11-06 20:06:00,1
146974,17/08/2023,03:16:00,687135796.0,21621.244909,-62.29,NaN,AMAZON,2023-08-17 03:16:00,1
222342,30/11/2023,23:59:00,639409800.0,40840.303410,-15.99,NaN,Netflix,2023-11-30 23:59:00,1
155076,31/08/2023,23:59:00,891716230.0,385.519298,-2590.00,950234174.0,NaN,2023-08-31 23:59:00,1
134362,01/08/2023,00:00:00,119993184.0,-1415.589953,-1223.00,NaN,LBG,2023-08-01 00:00:00,1
181826,02/10/2023,02:02:00,705848712.0,25976.150145,-14.45,NaN,JustEat,2023-10-02 02:02:00,1
126769,18/07/2023,08:59:00,581655972.0,30706.970639,-5.50,NaN,Coffee #1,2023-07-18 08:59:00,1
187856,12/10/2023,20:51:00,315546581.0,27040.967218,-86.23,NaN,Tesco,2023-10-12 20:51:00,1
75796,01/05/2023,00:00:00,158414827.0,-248.862400,-1296.00,NaN,Halifax,2023-05-01 00:00:00,1
221207,01/12/2023,00:00:00,656781737.0,-5595.910000,-917.00,NaN,LBG,2023-12-01 00:00:00,1
161775,04/09/2023,05:45:00,687135796.0,25078.253786,-20.75,NaN,Revella,2023-09-04 05:45:00,1
134269,31/07/2023,23:59:00,891716230.0,736.058192,-2590.00,950234174.0,NaN,2023-07-31 23:59:00,1
113934,01/07/2023,00:00:00,838415080.0,-2663.821000,-928.00,NaN,Halifax,2023-07-01 00:00:00,1
177161,01/10/2023,00:00:00,450896297.0,13751.206164,-485.00,NaN,Halifax,2023-10-01 00:00:00,1
220029,30/11/2023,07:21:00,554792076.0,33094.567407,-42.85,NaN,Loosely Fitted,2023-11-30 07:21:00,1
17541,24/01/2023,19:54:00,994214354.0,980.830000,-1870.00,534204159.0,NaN,2023-01-24 19:54:00,1
172492,25/09/2023,03:33:00,858989281.0,23199.717294,-11.86,NaN,Topshop,2023-09-25 03:33:00,1
147849,18/08/2023,17:59:00,581655972.0,34205.044427,-70.98,NaN,Sports Direct,2023-08-18 17:59:00,1
102562,08/06/2023,17:58:00,639409800.0,20226.976236,-182.15,NaN,Sports Direct,2023-06-08 17:58:00,1
58254,01/04/2023,00:00:00,314980178.0,2219.732900,-1285.00,NaN,LBG,2023-04-01 00:00:00,1
118684,02/07/2023,02:23:00,905860285.0,10144.423016,-4140.00,531186970.0,NaN,2023-07-02 02:23:00,1
134518,01/08/2023,00:00:00,534097839.0,-3495.948550,-691.00,NaN,Halifax,2023-08-01 00:00:00,1
113660,01/07/2023,00:00:00,915666111.0,-2744.637075,-1269.00,NaN,Halifax,2023-07-01 00:00:00,1
40043,01/03/2023,00:00:00,497809732.0,1807.031238,-1327.00,NaN,LBG,2023-03-01 00:00:00,1
219902,30/11/2023,03:40:00,547010927.0,28335.055826,-4.07,NaN,Topshop,2023-11-30 03:40:00,1
176826,01/10/2023,00:00:00,461990622.0,10595.767902,-1316.00,NaN,LBG,2023-10-01 00:00:00,1
173016,26/09/2023,02:57:00,687135796.0,23068.019235,-11.98,NaN,JustEat,2023-09-26 02:57:00,1
214164,19/11/2023,15:39:00,690958123.0,21113.759587,-56.00,NaN,Fat Face,2023-11-19 15:39:00,1
128068,21/07/2023,09:15:00,581655972.0,30629.076050,-5.70,NaN,Starbucks,2023-07-21 09:15:00,1
221356,01/12/2023,00:00:00,558119802.0,38296.870831,-1034.00,NaN,Halifax,2023-12-01 00:00:00,1
121170,06/07/2023,13:21:00,687135796.0,19038.912653,-176.19,NaN,Tesco,2023-07-06 13:21:00,1
73447,28/04/2023,17:50:00,581655972.0,18358.893689,-143.50,NaN,Fat Face,2023-04-28 17:50:00,1
132619,30/07/2023,23:59:00,585133606.0,4864.524146,-1430.00,570323670.0,NaN,2023-07-30 23:59:00,1
227696,04/12/2023,09:39:00,547010927.0,27772.809832,-177.10,NaN,Fat Face,2023-12-04 09:39:00,1
55635,30/03/2023,03:39:00,752362502.0,2166.950350,-2110.00,348525881.0,NaN,2023-03-30 03:39:00,1
221480,01/12/2023,00:00:00,285220959.0,13601.175037,-1118.00,NaN,LBG,2023-12-01 00:00:00,1
199564,01/11/2023,00:00:00,651372390.0,-3614.225750,-1222.00,NaN,Halifax,2023-11-01 00:00:00,1
183068,04/10/2023,05:35:00,558119802.0,32375.129600,-12.98,NaN,JustEat,2023-10-04 05:35:00,1
188502,14/10/2023,07:15:00,687135796.0,26084.003228,-23.93,NaN,Deliveroo,2023-10-14 07:15:00,1
207208,07/11/2023,05:29:00,639409800.0,37664.771833,-11.34,NaN,Etsy,2023-11-07 05:29:00,1