### Importing Libraries

In [147]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import ast

### Loading the dataset

In [148]:
# Loading csv and setting to 
user_df = pd.read_csv('../SavedData/Lloyds_users.csv')
original_df= pd.read_csv('../fake_transactional_data_24.csv')


# Changing the lists back to normal columns
user_df['user_biz_interaction'] = user_df['user_biz_interaction'].apply(ast.literal_eval)
user_df['user_biz_interaction_frequency'] = user_df['user_biz_interaction_frequency'].apply(ast.literal_eval)
user_df['user_user_interaction'] = user_df['user_user_interaction'].apply(ast.literal_eval)
user_df['user_user_interaction_frequency'] = user_df['user_user_interaction_frequency'].apply(ast.literal_eval)
user_df['user_industry_interaction'] = user_df['user_industry_interaction'].apply(ast.literal_eval)
user_df['user_industry_interaction_frequency'] = user_df['user_industry_interaction_frequency'].apply(ast.literal_eval)
user_df['user_date_transaction'] = user_df['user_date_transaction'].apply(ast.literal_eval)
user_df['user_date_transaction_freq'] = user_df['user_date_transaction_freq'].apply(ast.literal_eval)

In [149]:
user_df

,user_id,total_tx_count,net_tx_count,total_tx_sum_gbp,net_tx_sum_gbp,sent_tx_count,sent_tx_sum_gbp,sent_tx_mean_gbp,sent_tx_median_gbp,received_tx_count,...,user_biz_interaction_frequency,user_biz_spend,user_user_interaction,user_user_interaction_frequency,user_user_spend,user_industry_interaction,user_industry_interaction_frequency,user_industry_spend,user_date_transaction,user_date_transaction_freq
0,1000,1903,1517,37720.11,19676.91,1710,28698.51,16.782754,4.50,193,...,"[116, 117, 2, 72, 5, 9, 19, 1, 35, 119, 1, 2, ...","[278.15, 269.25, 217.86, 850.5, 19.5, 347.15, ...","[16354, 18013, 30208, 31489, 36647, 38289, 411...","[55, 14, 6, 12, 1, 14, 5, 14, 1, 18, 21, 1, 27...","[315.4, 86.5, 35.0, 16130.0, 5.0, 94.0, 24.0, ...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[3, 1, 1, 813, 2, 3, 37, 1, 7, 2, 30, 21, 353,...","[114.97999999999999, 145.0, 8.0, 1955.2, 160.0...","[01/01/2025, 01/02/2025, 01/03/2025, 01/04/202...","[5, 5, 13, 6, 2, 9, 5, 8, 6, 5, 5, 7, 4, 7, 2,..."
1,10000,1114,720,21360.39,18944.39,917,20152.39,21.976434,11.00,197,...,"[6, 1, 16, 71, 59, 3, 9, 7, 33, 2, 22, 7, 9, 2...","[13.65, 2.25, 349.77, 791.0, 1275.25, 12.5, 27...","[15896, 28620, 33124, 33732, 34123, 5277, 5439...","[39, 49, 1, 19, 10, 9, 59, 17, 29, 22, 19, 13]","[253.65, 5228.46, 50.0, 106.85, 55.2, 49.9, 32...","[Alcohol, Apparel, Books, Cafes, Coffee Beans ...","[1, 23, 34, 23, 1, 51, 2, 1, 14, 312, 119, 3, ...","[19.99, 3002.0, 370.0, 56.25, 33.64, 1685.48, ...","[01/02/2025, 01/03/2025, 01/04/2025, 01/06/202...","[3, 4, 1, 8, 3, 3, 2, 3, 2, 6, 3, 7, 1, 9, 7, ..."
2,100000,1919,1433,23455.27,20720.37,1676,22087.82,13.178890,4.50,243,...,"[5, 106, 129, 16, 95, 5, 11, 1, 122, 20, 1, 5,...","[113.0, 256.2, 318.4, 1596.43, 1142.5, 23.0, 4...","[12753, 24398, 24951, 28719, 34678, 39736, 489...","[19, 14, 24, 54, 17, 21, 6, 19, 9, 30, 27, 30,...","[135.5, 83.3, 146.5, 4857.0, 109.0, 124.0, 35....","[Accessories, Alcohol, Apparel, Cafes, Coffee ...","[15, 7, 1, 828, 10, 58, 5, 2, 18, 1, 334, 65, ...","[369.0, 145.95999999999998, 37.0, 2015.95, 300...","[01/01/2025, 01/02/2025, 01/03/2025, 01/04/202...","[3, 3, 10, 2, 3, 12, 5, 6, 3, 3, 3, 3, 4, 6, 1..."
3,100002,1561,1233,22393.96,20303.16,1397,21348.56,15.281718,4.50,164,...,"[50, 59, 18, 155, 1, 48, 1, 4, 26, 9, 14, 58, ...","[113.35, 142.65, 1896.42, 965.5, 10.0, 212.5, ...","[10432, 14001, 3296, 37438, 37918, 46953, 5047...","[8, 1, 5, 1, 6, 10, 11, 7, 27, 2, 2, 1, 17, 4,...","[76.08, 2.45, 35.0, 1.45, 46.0, 61.5, 52.55, 4...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[8, 32, 2, 281, 2, 3, 33, 4, 2, 10, 269, 511, ...","[166.94, 3464.0, 15.0, 767.9, 99.0, 96.81, 117...","[01/01/2025, 01/02/2025, 01/03/2025, 01/04/202...","[3, 7, 6, 2, 5, 14, 2, 14, 3, 2, 5, 4, 2, 4, 4..."
4,100019,1157,719,44632.75,16232.85,938,30432.80,32.444350,9.00,219,...,"[50, 54, 15, 91, 1, 1, 2, 11, 1, 9, 7, 68, 9, ...","[118.95, 129.0, 1163.37, 1031.0, 60.0, 3.0, 12...","[22634, 38580, 40565, 44911, 61350, 62299, 626...","[21, 33, 18, 4, 24, 11, 28, 25, 27, 58]","[125.5, 221.0, 113.0, 24.5, 163.0, 15060.0, 16...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[1, 25, 1, 214, 4, 1, 38, 1, 12, 13, 314, 1, 6...","[12.0, 2701.0, 15.0, 514.55, 250.0, 26.36, 136...","[01/02/2025, 01/03/2025, 01/06/2025, 01/07/202...","[6, 8, 3, 1, 4, 2, 2, 9, 1, 5, 3, 3, 2, 5, 3, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8137,99939,1488,1078,20117.08,17723.34,1283,18920.21,14.746851,9.00,205,...,"[56, 56, 13, 80, 57, 8, 3, 8, 2, 2, 44, 51, 23...","[136.75, 128.05, 265.17, 955.0, 1279.85, 37.0,...","[15880, 24365, 24475, 2858, 33124, 4741, 53764...","[6, 34, 17, 50, 1, 25, 31, 21, 22, 27, 13, 51,...","[31.0, 189.25, 108.0, 3905.35, 50.0, 140.65, 1...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[3, 2, 38, 227, 25, 7, 46, 3, 2, 2, 37, 25, 34...","[114.97999999999999, 263.0, 378.0, 553.85, 135...","[01/01/2025, 01/02/2025, 01/03/2025, 01/05/202...","[2, 13, 4, 2, 7, 2, 13, 3, 3, 2, 1, 4, 2, 1, 6..."
8138,99949,1188,818,15007.49,12916.23,1003,13961.86,13.920100,6.00,185,...,"[61, 48, 4, 72, 7, 4, 1, 5, 2, 2, 36, 50, 9, 1...","[144.65, 117.15, 406.98, 679.5, 126.0, 19.0, 2...","[1697, 32368, 33124, 39937, 52658, 53534, 6314...","[22, 21, 2, 11, 52, 14, 8, 27, 19, 16, 64, 42,...","[98.1, 119.7, 100.0, 56.2, 309.8, 79.5, 41.45,...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[4, 3, 2, 215, 1, 4, 22, 1, 3, 25, 1, 368, 23,...","[106.97, 367.0, 22.0, 539.15, 20.0, 129.55, 89...","[01/02/2025, 01/03/2025, 01/04/2025, 01/05/202...","[2, 11, 1, 2, 8, 2, 7, 1, 3, 1, 2, 14, 7, 1, 1..."
8139,99952,1501,1073,47107.19,21523.19,1287,34315.19,26.662929,9.00,214,...,"[49, 41, 14, 99, 13, 4, 4, 13, 1, 40, 53, 15, ...","[118.95, 100.45, 1505.73, 1163.0, 170.0, 19.0,...","[16004, 23861, 25637, 30279, 44652, 51998, 555...","[4, 12, 10, 30, 15, 22, 97, 18, 28, 23, 52, 92...","[20.0, 15900.0, 56.0, 156.05, 82.4, 124.15, 63...","[Alcohol, Books, Cafes, Children, Coffee Beans...","[6, 84, 198, 20, 5, 42, 2, 3, 2, 32, 1, 386, 1...","[152.98, 985.0, 490.59999999999997, 1299.0, 13...","[01/01/2025, 01/02/2025, 01/03/2025, 01/05/202...","[3, 5, 2, 3, 7, 1, 3, 2, 5, 1, 3, 1, 5, 5, 4, ..."
8140,99988,1450,1068,37715.77,23073.99,1259,30394.88,24.142081,8.99,191,...,"[58, 61, 11, 106, 1, 57, 9, 1, 6, 22, 8, 62, 1...","[137.95, 143.5, 176.74, 1245.0, 20.0, 1368.69,...","[100305, 10944, 11417, 26078, 33317, 35599, 37...","[38, 17, 43, 23, 14, 21, 10, 12, 15, 10, 42, 4...","[209.7, 85.9, 244.75, 140.0, 75.95, 133.5, 62....","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[4, 2, 2, 252, 1, 6, 33, 8, 1, 29, 2, 343, 116...","[90.97999999999999, 253.0, 32.0, 605.1, 96.0, ...","[01/01/2025, 01/02/2025, 01/03/2025, 01/04/202...","[2, 5, 3, 3, 4, 14, 3, 9, 1, 3, 6, 4, 3, 3, 1,..."
8141,99998,1204,942,25508.78,23915.48,1073,24712.13,23.030876,9.50,131,...,"[38, 53, 15, 109, 13, 9, 3, 6, 7, 16, 2, 54, 2...","[88.2, 128.7, 1532.85, 1244.0, 214.0, 171.0, 1...","[11261, 13903, 17765, 17966, 30727, 4127, 4655...","[23, 11, 6, 39, 16, 31, 20, 17, 7, 13, 18, 4, ...","[136.0, 74.5, 34.5, 241.5, 91.5, 175.3, 107.5,...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[5, 34, 40, 187, 22, 4, 40, 5, 2, 52, 12, 308,...","[145.95999999999998, 4341.0, 547.0, 444.45, 12...","[01/02/2025, 01/03/2025, 01/04/2025, 01/05/202...","[5, 11, 1, 1, 1, 2, 5, 2, 1, 10, 2, 5, 2, 1, 7..."

Removing unnecessary columns:

In [150]:
columns_to_remove = ['total_tx_count', 'net_tx_count', 'total_tx_sum_gbp', 'net_tx_sum_gbp']
user_df_updated = user_df.drop(columns=columns_to_remove)

In [151]:
user_df_updated.head()

,user_id,sent_tx_count,sent_tx_sum_gbp,sent_tx_mean_gbp,sent_tx_median_gbp,received_tx_count,received_tx_sum_gbp,received_tx_mean_gbp,received_tx_median_gbp,user_biz_interaction,user_biz_interaction_frequency,user_biz_spend,user_user_interaction,user_user_interaction_frequency,user_user_spend,user_industry_interaction,user_industry_interaction_frequency,user_industry_spend,user_date_transaction,user_date_transaction_freq
0,1000,1710,28698.51,16.782754,4.5,193,9021.60,46.744041,5.5,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[116, 117, 2, 72, 5, 9, 19, 1, 35, 119, 1, 2, ...","[278.15, 269.25, 217.86, 850.5, 19.5, 347.15, ...","[16354, 18013, 30208, 31489, 36647, 38289, 411...","[55, 14, 6, 12, 1, 14, 5, 14, 1, 18, 21, 1, 27...","[315.4, 86.5, 35.0, 16130.0, 5.0, 94.0, 24.0, ...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[3, 1, 1, 813, 2, 3, 37, 1, 7, 2, 30, 21, 353,...","[114.97999999999999, 145.0, 8.0, 1955.2, 160.0...","[01/01/2025, 01/02/2025, 01/03/2025, 01/04/202...","[5, 5, 13, 6, 2, 9, 5, 8, 6, 5, 5, 7, 4, 7, 2,..."
1,10000,917,20152.39,21.976434,11.0,197,1208.00,6.131980,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[6, 1, 16, 71, 59, 3, 9, 7, 33, 2, 22, 7, 9, 2...","[13.65, 2.25, 349.77, 791.0, 1275.25, 12.5, 27...","[15896, 28620, 33124, 33732, 34123, 5277, 5439...","[39, 49, 1, 19, 10, 9, 59, 17, 29, 22, 19, 13]","[253.65, 5228.46, 50.0, 106.85, 55.2, 49.9, 32...","[Alcohol, Apparel, Books, Cafes, Coffee Beans ...","[1, 23, 34, 23, 1, 51, 2, 1, 14, 312, 119, 3, ...","[19.99, 3002.0, 370.0, 56.25, 33.64, 1685.48, ...","[01/02/2025, 01/03/2025, 01/04/2025, 01/06/202...","[3, 4, 1, 8, 3, 3, 2, 3, 2, 6, 3, 7, 1, 9, 7, ..."
2,100000,1676,22087.82,13.178890,4.5,243,1367.45,5.627366,6.0,"[ACCESSORY_SHOP, A_CAFE, A_LOCAL_COFFEE_SHOP, ...","[5, 106, 129, 16, 95, 5, 11, 1, 122, 20, 1, 5,...","[113.0, 256.2, 318.4, 1596.43, 1142.5, 23.0, 4...","[12753, 24398, 24951, 28719, 34678, 39736, 489...","[19, 14, 24, 54, 17, 21, 6, 19, 9, 30, 27, 30,...","[135.5, 83.3, 146.5, 4857.0, 109.0, 124.0, 35....","[Accessories, Alcohol, Apparel, Cafes, Coffee ...","[15, 7, 1, 828, 10, 58, 5, 2, 18, 1, 334, 65, ...","[369.0, 145.95999999999998, 37.0, 2015.95, 300...","[01/01/2025, 01/02/2025, 01/03/2025, 01/04/202...","[3, 3, 10, 2, 3, 12, 5, 6, 3, 3, 3, 3, 4, 6, 1..."
3,100002,1397,21348.56,15.281718,4.5,164,1045.40,6.374390,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[50, 59, 18, 155, 1, 48, 1, 4, 26, 9, 14, 58, ...","[113.35, 142.65, 1896.42, 965.5, 10.0, 212.5, ...","[10432, 14001, 3296, 37438, 37918, 46953, 5047...","[8, 1, 5, 1, 6, 10, 11, 7, 27, 2, 2, 1, 17, 4,...","[76.08, 2.45, 35.0, 1.45, 46.0, 61.5, 52.55, 4...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[8, 32, 2, 281, 2, 3, 33, 4, 2, 10, 269, 511, ...","[166.94, 3464.0, 15.0, 767.9, 99.0, 96.81, 117...","[01/01/2025, 01/02/2025, 01/03/2025, 01/04/202...","[3, 7, 6, 2, 5, 14, 2, 14, 3, 2, 5, 4, 2, 4, 4..."
4,100019,938,30432.80,32.444350,9.0,219,14199.95,64.839954,6.0,"[A_CAFE, A_LOCAL_COFFEE_SHOP, A_SUPERMARKET, B...","[50, 54, 15, 91, 1, 1, 2, 11, 1, 9, 7, 68, 9, ...","[118.95, 129.0, 1163.37, 1031.0, 60.0, 3.0, 12...","[22634, 38580, 40565, 44911, 61350, 62299, 626...","[21, 33, 18, 4, 24, 11, 28, 25, 27, 58]","[125.5, 221.0, 113.0, 24.5, 163.0, 15060.0, 16...","[Alcohol, Apparel, Books, Cafes, Children, Cof...","[1, 25, 1, 214, 4, 1, 38, 1, 12, 13, 314, 1, 6...","[12.0, 2701.0, 15.0, 514.55, 250.0, 26.36, 136...","[01/02/2025, 01/03/2025, 01/06/2025, 01/07/202...","[6, 8, 3, 1, 4, 2, 2, 9, 1, 5, 3, 3, 2, 5, 3, ..."

In [152]:
original_df

,from_totally_fake_account,monopoly_money_amount,to_randomly_generated_account,not_happened_yet_date
0,10371.0,4.00,CINEMA,01/01/2025
1,88339.0,2.40,40544,01/01/2025
2,18555.0,2.40,85149,01/01/2025
3,18555.0,4.10,HIPSTER_COFFEE_SHOP,01/01/2025
4,80792.0,1.95,18555,01/01/2025
...,...,...,...,...
10148275,32185.0,2.65,COFFEE_SHOP,31/12/2025
10148276,32185.0,2.45,COFFEE_SHOP,31/12/2025
10148277,57569.0,14.00,WINE_BAR,31/12/2025
10148278,1490.0,9.00,57569,31/12/2025
10148279,53444.0,2.65,A_LOCAL_COFFEE_SHOP,31/12/2025

## Feature engineering for anomaly detection

### Calculating general thresholds using Q3 and IQR and a multiple

In [153]:
# Calculating Q1, Q3, and IQR for each account in 'from_totally_fake_account'
quartiles = original_df.groupby('from_totally_fake_account')['monopoly_money_amount'].quantile([0.25, 0.75]).unstack()
quartiles['IQR'] = quartiles[0.75] - quartiles[0.25]

# Calculate thresholds for overall spending for user across all industries/users based on IQR
thresholds = quartiles.copy()
thresholds['Overall_Threshold_1_IQR'] = quartiles[0.75] + 2 * quartiles['IQR']
thresholds['Overall_Threshold_2_IQR'] = quartiles[0.75] + 3 * quartiles['IQR']
thresholds['Overall_Threshold_3_IQR'] = quartiles[0.75] + 4 * quartiles['IQR']

# Creating a new dataframe for anomaly detection with threshold columns
anomaly_detection_df = pd.merge(user_df_updated[['user_id']], thresholds[['Overall_Threshold_1_IQR', 'Overall_Threshold_2_IQR', 'Overall_Threshold_3_IQR']], how='left', left_on='user_id', right_index=True)

# Display the newly created anomaly_detection_df DataFrame
anomaly_detection_df.head()

,user_id,Overall_Threshold_1_IQR,Overall_Threshold_2_IQR,Overall_Threshold_3_IQR
0,1000,23.70,30.80,37.90
1,10000,40.41,51.88,63.35
2,100000,28.20,36.80,45.40
3,100002,26.10,34.15,42.20
4,100019,30.00,38.50,47.00

### Calculating thresholds through SD- not using in the end as using IQR to create thresholds is more cautious

In [154]:
# # Calculate the mean and standard deviation for each account's transactions and calculate thresholds using standard deviation
# stats_sd = original_df.groupby('from_totally_fake_account')['monopoly_money_amount'].agg(['mean', 'std']).rename(columns={'mean': 'Mean', 'std': 'Std'})
# stats_sd['ThresholdSD_1'] = stats_sd['Mean'] + 1 * stats_sd['Std']
# stats_sd['ThresholdSD_2'] = stats_sd['Mean'] + 2 * stats_sd['Std']
# stats_sd['ThresholdSD_3'] = stats_sd['Mean'] + 3 * stats_sd['Std']

# # Select only the necessary threshold columns for merging
# stats_sd_for_merge = stats_sd[['ThresholdSD_1', 'ThresholdSD_2', 'ThresholdSD_3']].copy()

# # Merge the prepared thresholds DataFrame with anomaly_detection_df based on 'from_totally_fake_account' which corresponds to 'user_id'
# anomaly_detection_df = anomaly_detection_df.merge(stats_sd_for_merge, how='left', left_on='user_id', right_index=True)

# anomaly_detection_df.head()

In [155]:
# Convert 'not_happened_yet_date' to datetime format, ensuring dayfirst format
original_df['not_happened_yet_date'] = pd.to_datetime(original_df['not_happened_yet_date'], dayfirst=True)

# Calculate the median number of transactions per day, per week, and per month per user
user_daily_trans = original_df.groupby(['from_totally_fake_account', original_df['not_happened_yet_date'].dt.date]).size().groupby(level=0).median()
user_weekly_trans = original_df.groupby(['from_totally_fake_account', original_df['not_happened_yet_date'].dt.isocalendar().week]).size().groupby(level=0).median()
user_monthly_trans = original_df.groupby(['from_totally_fake_account', original_df['not_happened_yet_date'].dt.month]).size().groupby(level=0).median()

# Add calculated medians to the anomaly_detection_df DataFrame
anomaly_detection_df['median_trans_per_day'] = anomaly_detection_df['user_id'].map(user_daily_trans)
anomaly_detection_df['median_trans_per_week'] = anomaly_detection_df['user_id'].map(user_weekly_trans)
anomaly_detection_df['median_trans_per_month'] = anomaly_detection_df['user_id'].map(user_monthly_trans)

anomaly_detection_df.head()

,user_id,Overall_Threshold_1_IQR,Overall_Threshold_2_IQR,Overall_Threshold_3_IQR,median_trans_per_day,median_trans_per_week,median_trans_per_month
0,1000,23.70,30.80,37.90,4.0,32.5,140.0
1,10000,40.41,51.88,63.35,2.0,17.0,75.5
2,100000,28.20,36.80,45.40,4.0,32.0,138.5
3,100002,26.10,34.15,42.20,3.0,27.0,115.0
4,100019,30.00,38.50,47.00,2.0,17.0,78.5

### Creating a user and business account df

In [156]:
original_df['to_randomly_generated_account'] = original_df['to_randomly_generated_account'].astype(str)

# Split the DataFrame into user accounts and business accounts without creating a new column
user_accounts_df = original_df[original_df['to_randomly_generated_account'].str.isdigit()]
business_accounts_df = original_df[~original_df['to_randomly_generated_account'].str.isdigit()]

user_accounts_df.shape, business_accounts_df.shape

((2532763, 4), (7615517, 4))

### Creating thresholds for each user to user transfers

In [157]:
# Adjusting the calculate_thresholds function to accept a multiplier for the IQR in the threshold calculation

def calculate_thresholds(group, multiplier):
    quantiles = group['monopoly_money_amount'].quantile([0.25, 0.75])
    IQR = quantiles[0.75] - quantiles[0.25]
    threshold = quantiles[0.75] + multiplier * IQR
    return threshold

# Applying the adjusted function for each threshold calculation with different multipliers

# For Threshold 1 (1.5 * IQR)
thresholds_1 = user_accounts_df.groupby(['from_totally_fake_account', 'to_randomly_generated_account']).apply(lambda group: calculate_thresholds(group, 1.5)).reset_index(name='threshold')
thresholds_structured_1 = thresholds_1.groupby('from_totally_fake_account').apply(lambda x: dict(zip(x['to_randomly_generated_account'], x['threshold']))).to_dict()

# For Threshold 2 (2.5 * IQR)
thresholds_2 = user_accounts_df.groupby(['from_totally_fake_account', 'to_randomly_generated_account']).apply(lambda group: calculate_thresholds(group, 2.5)).reset_index(name='threshold')
thresholds_structured_2 = thresholds_2.groupby('from_totally_fake_account').apply(lambda x: dict(zip(x['to_randomly_generated_account'], x['threshold']))).to_dict()

# For Threshold 3 (3.5 * IQR)
thresholds_3 = user_accounts_df.groupby(['from_totally_fake_account', 'to_randomly_generated_account']).apply(lambda group: calculate_thresholds(group, 3.5)).reset_index(name='threshold')
thresholds_structured_3 = thresholds_3.groupby('from_totally_fake_account').apply(lambda x: dict(zip(x['to_randomly_generated_account'], x['threshold']))).to_dict()

# Add structured mapping to anomaly_detection_df for each threshold
anomaly_detection_df['transfer_to_accounts_threshold_1_IQR'] = anomaly_detection_df['user_id'].map(thresholds_structured_1)
anomaly_detection_df['transfer_to_accounts_threshold_2_IQR'] = anomaly_detection_df['user_id'].map(thresholds_structured_2)
anomaly_detection_df['transfer_to_accounts_threshold_3_IQR'] = anomaly_detection_df['user_id'].map(thresholds_structured_3)

# Display the updated anomaly_detection_df to verify the new columns
anomaly_detection_df.head()

,user_id,Overall_Threshold_1_IQR,Overall_Threshold_2_IQR,Overall_Threshold_3_IQR,median_trans_per_day,median_trans_per_week,median_trans_per_month,transfer_to_accounts_threshold_1_IQR,transfer_to_accounts_threshold_2_IQR,transfer_to_accounts_threshold_3_IQR
0,1000,23.70,30.80,37.90,4.0,32.5,140.0,"{'16354': 8.375, '18013': 8.0, '30208': 8.375,...","{'16354': 9.625, '18013': 9.0, '30208': 9.625,...","{'16354': 10.875, '18013': 10.0, '30208': 10.8..."
1,10000,40.41,51.88,63.35,2.0,17.0,75.5,"{'15896': 14.25, '28620': 116.0, '33124': 50.0...","{'15896': 17.75, '28620': 160.0, '33124': 50.0...","{'15896': 21.25, '28620': 204.0, '33124': 50.0..."
2,100000,28.20,36.80,45.40,4.0,32.0,138.5,"{'12753': 13.125, '24398': 7.8125, '24951': 11...","{'12753': 15.875, '24398': 8.6875, '24951': 13...","{'12753': 18.625, '24398': 9.5625, '24951': 16..."
3,100002,26.10,34.15,42.20,3.0,27.0,115.0,"{'10432': 9.375, '14001': 2.45, '3296': 13.5, ...","{'10432': 10.875, '14001': 2.45, '3296': 16.5,...","{'10432': 12.375, '14001': 2.45, '3296': 19.5,..."
4,100019,30.00,38.50,47.00,2.0,17.0,78.5,"{'22634': 8.0, '38580': 14.25, '40565': 8.0, '...","{'22634': 9.0, '38580': 17.75, '40565': 9.0, '...","{'22634': 10.0, '38580': 21.25, '40565': 10.0,..."

### Creating thresholds for each user to industry transactions

In [173]:
industry_categories = {
    "ELECTRONICS_SHOP": "Electronics / Technology",
    "TECH_SHOP": "Electronics / Technology",
    "HIPSTER_ELECTRONICS_SHOP": "Electronics / Technology",
    "CHINESE_RESTAURANT": "Dining",
    "TAKEAWAY": "Dining",
    "SEAFOOD_RESAURANT": "Dining",
    "CHINESE_TAKEAWAY": "Dining",
    "TAKEAWAY_CURRY": "Dining",
    "STEAK_HOUSE": "Dining",
    "RESTAURANT": "Dining",
    "LOCAL_PUB": "Dining",
    "INDIAN_RESTAURANT": "Dining",
    "A_SUPERMARKET": "Supermarkets",
    "EXPRESS_SUPERMARKET": "Supermarkets",
    "THE_SUPERMARKET": "Supermarkets",
    "LARGE_SUPERMARKET": "Supermarkets",
    "CLOTHES_SHOP": "Apparel",
    "DEPARTMENT_STORE": "Apparel",
    "FASHION_SHOP": "Apparel",
    "FASHIONABLE_SPORTSWARE_SHOP": "Sports",
    "TRAINER_SHOP": "Sports",
    "SPORT_SHOP": "Sports",
    "RUNNING_SHOP": "Sports",
    "VIDEO_GAME_STORE": "Gaming",
    "GAME_SHOP": "Gaming",
    "TOY_SHOP": "Children",
    "KIDS_CLOTHING_SHOP": "Children",
    "KIDS_ACTIVITY_CENTRE": "Children",
    "CHILDRENDS_SHOP": "Children",
    "SCHOOL_SUPPLY_STORE": "Children",
    "HOME_IMPROVEMENT_STORE": "Hardware",
    "DIY_STORE": "Hardware",
    "PET_TOY_SHOP": "Pets",
    "PET_SHOP": "Pets",
    "WE_HAVE_BEAN_WEIGHTING": "Coffee Beans and Teas",
    "TO_BEAN_OR_NOT_TO_BEAN": "Coffee Beans and Teas",
    "TEA_SHOP": "Coffee Beans and Teas",
    "ROASTERIE": "Coffee Beans and Teas",
    "RESTAURANT_VOUCHER": "Gifts",
    "FLORIST": "Gifts",
    "BUTCHER": "Specialty Foods",
    "GREENGROCER": "Specialty Foods",
    "BUTCHERS": "Specialty Foods",
    "TURKEY_FARM": "Specialty Foods",
    "COOKSHOP": "Specialty Foods",
    "JEWLLERY_SHOP": "Accessories",
    "ACCESSORY_SHOP": "Accessories",
    "GYM": "Health and fitness",
    "LIQUOR_STORE": "Alcohol",
    "WHISKEY_SHOP": "Alcohol",
    "WINE_CELLAR": "Alcohol",
    "LOCAL_BOOKSHOP": "Books",
    "BOOKSHOP": "Books",
    "SECOND_HAND_BOOKSHOP": "Books",
    "COMIC_BOOK_SHOP": "Books",
    "NERDY_BOOK_STORE": "Books",
    "WINE_BAR": "Pubs / Bars",
    "WHISKEY_BAR": "Pubs / Bars",
    "PUB": "Pubs / Bars",
    "G&T_BAR": "Pubs / Bars",
    "COCKTAIL_BAR": "Pubs / Bars",
    "LOCAL_WATERING_HOLE": "Pubs / Bars",
    "BAR": "Pubs / Bars",
    "STREAMING_SERVICE": "TV/Film",
    "DVD_SHOP": "TV/Film",
    "CINEMA": "TV/Film",
    "LOCAL_RESTAURANT": "Lunch / Light Meal",
    "SANDWICH_SHOP": "Lunch / Light Meal",
    "LUNCH_VAN": "Lunch / Light Meal",
    "LUNCH_PLACE": "Lunch / Light Meal",
    "KEBAB_SHOP": "Lunch / Light Meal",
    "CAFE": "Lunch / Light Meal",
    "A_CAFE": "Cafes",
    "A_LOCAL_COFFEE_SHOP": "Cafes",
    "CAFE": "Cafes",
    "CAFÉ": "Cafes",
    "COFFEE_SHOP": "Cafes",
    "GOURMET_COFFEE_SHOP": "Cafes",
    "TOTALLY_A_REAL_COFFEE_SHOP": "Cafes",
    "PRETENTIOUS_COFFEE_SHOP": "Cafes",
    "HIPSTER_COFFEE_SHOP": "Cafes"
}

In [174]:
# Add industry column to tx_df
def tx_df_industry_mapping(key):
    if key in industry_categories:
        return industry_categories[key]
    else:  # All values not in industry_categories are set to user
        return 'User'
    

# Apply the mapping
business_accounts_df['industry_category'] = business_accounts_df['to_randomly_generated_account'].apply(tx_df_industry_mapping)
business_accounts_df

/var/folders/rw/215myrns4md_n1k8nkyww6mw0000gn/T/ipykernel_7240/440029363.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  business_accounts_df['industry_category'] = business_accounts_df['to_randomly_generated_account'].apply(tx_df_industry_mapping)

,from_totally_fake_account,monopoly_money_amount,to_randomly_generated_account,not_happened_yet_date,industry_category
0,10371.0,4.00,CINEMA,2025-01-01,TV/Film
3,18555.0,4.10,HIPSTER_COFFEE_SHOP,2025-01-01,Cafes
5,18555.0,4.45,TOTALLY_A_REAL_COFFEE_SHOP,2025-01-01,Cafes
6,18555.0,1.45,COFFEE_SHOP,2025-01-01,Cafes
7,18555.0,5.00,CAFE,2025-01-01,Cafes
...,...,...,...,...,...
10148274,81404.0,1.80,TOTALLY_A_REAL_COFFEE_SHOP,2025-12-31,Cafes
10148275,32185.0,2.65,COFFEE_SHOP,2025-12-31,Cafes
10148276,32185.0,2.45,COFFEE_SHOP,2025-12-31,Cafes
10148277,57569.0,14.00,WINE_BAR,2025-12-31,Pubs / Bars
10148279,53444.0,2.65,A_LOCAL_COFFEE_SHOP,2025-12-31,Cafes

In [175]:
# Re-define the calculate_thresholds function in case it's not defined
def calculate_thresholds(group, multiplier):
    quantiles = group['monopoly_money_amount'].quantile([0.25, 0.75])
    IQR = quantiles[0.75] - quantiles[0.25]
    threshold = quantiles[0.75] + multiplier * IQR
    return threshold

# Assuming business_accounts_df is already defined
# Group the data by 'from_totally_fake_account' and 'industry_category'
grouped_by_industry = business_accounts_df.groupby(['from_totally_fake_account', 'industry_category'])

# Calculate thresholds for each grouping
thresholds_structured_by_industry_and_category = {}
for (acc, cat), group in grouped_by_industry:
    thresholds_structured_by_industry_and_category[(acc, cat)] = {
        'threshold_1_IQR': calculate_thresholds(group, 1.5),
        'threshold_2_IQR': calculate_thresholds(group, 2.5),
        'threshold_3_IQR': calculate_thresholds(group, 3.5)
    }
# Ensure anomaly_detection_df is defined and includes a 'user_id' column corresponding to 'from_totally_fake_account'

# Create a mapping function that retrieves threshold values for a given user and industry
def map_thresholds_to_user(user_id, threshold_key):
    return {cat: details[threshold_key] for (acc, cat), details in thresholds_structured_by_industry_and_category.items() if acc == user_id}

# Apply the mapping function for each threshold level
anomaly_detection_df['industry_threshold_1_IQR'] = anomaly_detection_df['user_id'].apply(lambda x: map_thresholds_to_user(x, 'threshold_1_IQR'))
anomaly_detection_df['industry_threshold_2_IQR'] = anomaly_detection_df['user_id'].apply(lambda x: map_thresholds_to_user(x, 'threshold_2_IQR'))
anomaly_detection_df['industry_threshold_3_IQR'] = anomaly_detection_df['user_id'].apply(lambda x: map_thresholds_to_user(x, 'threshold_3_IQR'))

### Adding the use-user interactions and user-industry interactions

In [176]:
# Extracting keys from 'transfer_to_accounts_threshold_1_IQR' to create 'user_user_interaction'
anomaly_detection_df['user_user_interaction'] = anomaly_detection_df['transfer_to_accounts_threshold_1_IQR'].apply(lambda x: list(x.keys()))

# Extracting keys from 'industry_threshold_1_IQR' to create 'user_industry_interaction'
anomaly_detection_df['user_industry_interaction'] = anomaly_detection_df['industry_threshold_1_IQR'].apply(lambda x: list(x.keys()))

anomaly_detection_df

,user_id,Overall_Threshold_1_IQR,Overall_Threshold_2_IQR,Overall_Threshold_3_IQR,median_trans_per_day,median_trans_per_week,median_trans_per_month,transfer_to_accounts_threshold_1_IQR,transfer_to_accounts_threshold_2_IQR,transfer_to_accounts_threshold_3_IQR,industry_threshold_1_IQR,industry_threshold_2_IQR,industry_threshold_3_IQR,user_user_interaction,user_industry_interaction
0,1000,23.70,30.800,37.90,4.0,32.5,140.0,"{'16354': 8.375, '18013': 8.0, '30208': 8.375,...","{'16354': 9.625, '18013': 9.0, '30208': 9.625,...","{'16354': 10.875, '18013': 10.0, '30208': 10.8...","{'Alcohol': 101.23249999999999, 'Apparel': 145...","{'Alcohol': 133.7275, 'Apparel': 145.0, 'Books...","{'Alcohol': 166.22249999999997, 'Apparel': 145...","[16354, 18013, 30208, 31489, 36647, 38289, 411...","[Alcohol, Apparel, Books, Cafes, Children, Cof..."
1,10000,40.41,51.880,63.35,2.0,17.0,75.5,"{'15896': 14.25, '28620': 116.0, '33124': 50.0...","{'15896': 17.75, '28620': 160.0, '33124': 50.0...","{'15896': 21.25, '28620': 204.0, '33124': 50.0...","{'Alcohol': 19.99, 'Apparel': 300.5, 'Books': ...","{'Alcohol': 19.99, 'Apparel': 385.5, 'Books': ...","{'Alcohol': 19.99, 'Apparel': 470.5, 'Books': ...","[15896, 28620, 33124, 33732, 34123, 5277, 5439...","[Alcohol, Apparel, Books, Cafes, Coffee Beans ..."
2,100000,28.20,36.800,45.40,4.0,32.0,138.5,"{'12753': 13.125, '24398': 7.8125, '24951': 11...","{'12753': 15.875, '24398': 8.6875, '24951': 13...","{'12753': 18.625, '24398': 9.5625, '24951': 16...","{'Accessories': 47.75, 'Alcohol': 26.494999999...","{'Accessories': 59.25, 'Alcohol': 33.495, 'App...","{'Accessories': 70.75, 'Alcohol': 40.494999999...","[12753, 24398, 24951, 28719, 34678, 39736, 489...","[Accessories, Alcohol, Apparel, Cafes, Coffee ..."
3,100002,26.10,34.150,42.20,3.0,27.0,115.0,"{'10432': 9.375, '14001': 2.45, '3296': 13.5, ...","{'10432': 10.875, '14001': 2.45, '3296': 16.5,...","{'10432': 12.375, '14001': 2.45, '3296': 19.5,...","{'Alcohol': 52.10375, 'Apparel': 255.125, 'Boo...","{'Alcohol': 69.34625, 'Apparel': 330.875, 'Boo...","{'Alcohol': 86.58874999999999, 'Apparel': 406....","[10432, 14001, 3296, 37438, 37918, 46953, 5047...","[Alcohol, Apparel, Books, Cafes, Children, Cof..."
4,100019,30.00,38.500,47.00,2.0,17.0,78.5,"{'22634': 8.0, '38580': 14.25, '40565': 8.0, '...","{'22634': 9.0, '38580': 17.75, '40565': 9.0, '...","{'22634': 10.0, '38580': 21.25, '40565': 10.0,...","{'Alcohol': 12.0, 'Apparel': 256.0, 'Books': 1...","{'Alcohol': 12.0, 'Apparel': 330.0, 'Books': 1...","{'Alcohol': 12.0, 'Apparel': 404.0, 'Books': 1...","[22634, 38580, 40565, 44911, 61350, 62299, 626...","[Alcohol, Apparel, Books, Cafes, Children, Cof..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8137,99939,31.19,39.945,48.70,3.0,23.0,105.5,"{'15880': 7.4375, '24365': 8.25, '24475': 7.25...","{'15880': 8.5625, '24365': 9.75, '24475': 7.75...","{'15880': 9.6875, '24365': 11.25, '24475': 8.2...","{'Alcohol': 101.23249999999999, 'Apparel': 156...","{'Alcohol': 133.7275, 'Apparel': 169.0, 'Books...","{'Alcohol': 166.22249999999997, 'Apparel': 181...","[15880, 24365, 24475, 2858, 33124, 4741, 53764...","[Alcohol, Apparel, Books, Cafes, Children, Cof..."
8138,99949,22.50,28.500,34.50,2.0,19.0,84.0,"{'1697': 8.525, '32368': 7.5, '33124': 50.0, '...","{'1697': 10.875, '32368': 8.5, '33124': 50.0, ...","{'1697': 13.225, '32368': 9.5, '33124': 50.0, ...","{'Alcohol': 51.11125, 'Apparel': 172.5, 'Books...","{'Alcohol': 64.35875, 'Apparel': 197.5, 'Books...","{'Alcohol': 77.60624999999999, 'Apparel': 222....","[1697, 32368, 33124, 39937, 52658, 53534, 6314...","[Alcohol, Apparel, Books, Cafes, Children, Cof..."
8139,99952,26.00,33.000,40.00,3.0,24.5,108.5,"{'16004': 5.5, '23861': 2845.625, '25637': 6.2...","{'16004': 5.75, '23861': 3581.875, '25637': 6....","{'16004': 6.0, '23861': 4318.125, '25637': 7.2...","{'Alcohol': 45.73125, 'Books': 25.5, 'Cafes': ...","{'Alcohol': 59.22375, 'Books': 32.5, 'Cafes': ...","{'Alcohol': 72.71625, 'Books': 39.5, 'Cafes': ...","[16004, 23861, 25637, 30279, 44652, 51998, 555...","[Alcohol, Books, Cafes, Children, Coffee Beans..."
8140,99988,28.50,36.500,44.50,3.0,22.0,107.0,"{'100305': 7.5, '10944': 6.25, '11417': 8.25, ...","{'100305': 8.5, '10944': 6.75, '11417': 9.75, ...","{'100305': 9.5, '10944': 7.25, '11417': 11.25,...","{'Alcohol': 51.849999999999994, 'Apparel': 163...","{'Alcohol': 68.08999999999999, 'Apparel': 182....","{'Alcohol': 84.33, 'Apparel': 200.5, 'Books': ...","[100305, 10944, 11417, 26078, 33317, 35599, 37...","[Alcohol, Apparel, Books, Cafes, Children, Cof..."
8141,99998,35.00,45.000,55.00,2.0,19.5,88.5,"{'11261': 6.75, '13903': 14.625, '17765': 8.25...","{'11261': 7.25, '13903': 18.375, '17765': 9.75...","{'11261': 7.75, '13903': 22.125, '17765': 11.2...","{'Alcohol': 56.974999999999994, 'Apparel': 311...","{'Alcohol': 74.96499999999999, 'Apparel': 402....","{'Alcohol': 92.955, 'Apparel': 494.25, 'Books'...","[11261, 13903, 17765, 17966, 30727, 4127, 4655...","[Alcohol, Apparel, Books, Cafes, Children, Cof..."

## Risk flagging function

In [265]:
def get_threshold_value(user_data, key, industry=None):
    """
    Extracts a numeric threshold value from user_data based on the provided key.
    If industry is provided and the value under the key is a dictionary, it returns the value for the given industry.
    """
    value = user_data.get(key, 0)  # Assume default of 0 if key is not present
    
    if isinstance(value, dict):
        # If an industry is specified and the value is a dictionary, get the value for that industry
        return value.get(industry, float('inf'))  # Use a high default value if the industry is not found
    return value

def assess_transaction_risk(from_account, amount, to_account, transaction_date, industry_categories, anomaly_detection_df):
    """
    Assess the risk level of a transaction based on whether it's to a new or existing business/user
    and the transaction amount relative to predefined IQR thresholds.
    """
    # Determine if the transaction is to a business account and find its industry
    is_business_account = not str(to_account).isdigit()
    business_industry = industry_categories.get(to_account) if is_business_account else None

    # Fetch user-specific data from anomaly_detection_df
    user_data = anomaly_detection_df.loc[anomaly_detection_df['user_id'] == from_account].iloc[0].to_dict()
    
    risk_level = "No Risk"  # Default risk level
    
    if is_business_account:
        # Check if the transaction is with a new or existing industry
        is_new_industry = business_industry not in user_data['user_industry_interaction'] if business_industry else True
        
        if is_new_industry:
            # New industry: use overall thresholds
            thresholds = [user_data['Overall_Threshold_1_IQR'], user_data['Overall_Threshold_2_IQR'], user_data['Overall_Threshold_3_IQR']]
        else:
            # Existing industry: use specific industry thresholds
            thresholds = [
                get_threshold_value(user_data, 'industry_threshold_1_IQR', business_industry),
                get_threshold_value(user_data, 'industry_threshold_2_IQR', business_industry),
                get_threshold_value(user_data, 'industry_threshold_3_IQR', business_industry)
            ]
    else:
        # User account transaction: check if new or existing user
        is_new_user = to_account not in user_data['user_user_interaction']
        
        if is_new_user:
            # New user: use overall thresholds
            thresholds = [user_data['Overall_Threshold_1_IQR'], user_data['Overall_Threshold_2_IQR'], user_data['Overall_Threshold_3_IQR']]
        else:
            # Existing user: use specific user account thresholds
            # Assuming 'to_account' is stored as integer in 'user_user_interaction' list
            thresholds = [
                get_threshold_value(user_data, 'transfer_to_accounts_threshold_1_IQR', to_account),
                get_threshold_value(user_data, 'transfer_to_accounts_threshold_2_IQR', to_account),
                get_threshold_value(user_data, 'transfer_to_accounts_threshold_3_IQR', to_account)
            ]
    
    # Determine the risk level based on the transaction amount and the relevant thresholds
    if amount > thresholds[2]:
        risk_level = "High Risk"
    elif amount > thresholds[1]:
        risk_level = "Medium Risk"
    elif amount > thresholds[0]:
        risk_level = "Low Risk"
    
    return risk_level


from_account = 10000
amount = 12
to_account = "FLORIST"
transaction_date = "2025-10-16"
risk = assess_transaction_risk(from_account, amount, to_account, transaction_date, industry_categories, anomaly_detection_df)
print(f"Transaction Risk Level: {risk}")

Transaction Risk Level: No Risk

After this transaction, if it was categorised as no risk, or after confirmation from the user account that it was legitimate, you could update the user's information (thresholds, and users/industries interacted with).

In [249]:
# Assuming anomaly_detection_df is the DataFrame and is properly set up as described.
user_id = 99939.0

# Check if the user exists in the DataFrame
if user_id in anomaly_detection_df['user_id'].values:
    # Extract industry_threshold_1_IQR for the specified user
    user_thresholds = anomaly_detection_df.loc[anomaly_detection_df['user_id'] == user_id, 'industry_threshold_3_IQR'].iloc[0]
    print(f"Industry Threshold 3 IQR for user {user_id}: {user_thresholds}")
else:
    print(f"User {user_id} not found in the DataFrame.")

Industry Threshold 3 IQR for user 99939.0: {'Alcohol': 166.22249999999997, 'Apparel': 181.5, 'Books': 50.0, 'Cafes': 4.6499999999999995, 'Children': 225.0, 'Coffee Beans and Teas': 124.53500000000001, 'Dining': 136.27, 'Gaming': 53.0, 'Gifts': 35.0, 'Hardware': 106.0, 'Lunch / Light Meal': 14.75, 'Pets': 100.0, 'Pubs / Bars': 25.75, 'Specialty Foods': 91.72125000000001, 'Supermarkets': 111.3075, 'TV/Film': 18.25}

In [234]:
# Corrected filtering with multiple conditions
filtered_rows = business_accounts_df[(business_accounts_df['from_totally_fake_account'] == 99939) & (business_accounts_df['industry_category'] == 'Cafes')]

# Display the filtered rows
filtered_rows

,from_totally_fake_account,monopoly_money_amount,to_randomly_generated_account,not_happened_yet_date,industry_category
5199,99939.0,2.65,A_CAFE,2025-01-01,Cafes
5200,99939.0,2.65,TOTALLY_A_REAL_COFFEE_SHOP,2025-01-01,Cafes
175604,99939.0,2.65,A_LOCAL_COFFEE_SHOP,2025-01-06,Cafes
175624,99939.0,2.45,COFFEE_SHOP,2025-01-06,Cafes
226467,99939.0,2.25,A_CAFE,2025-01-09,Cafes
...,...,...,...,...,...
9939927,99939.0,1.95,COFFEE_SHOP,2025-12-23,Cafes
9970550,99939.0,4.80,A_CAFE,2025-12-25,Cafes
9978970,99939.0,1.45,A_CAFE,2025-12-26,Cafes
10131076,99939.0,2.45,TOTALLY_A_REAL_COFFEE_SHOP,2025-12-30,Cafes
10131077,99939.0,2.55,A_LOCAL_COFFEE_SHOP,2025-12-30,Cafes